@model IEnumerable<crud2.Models.Institucion>

@{
    ViewData["Title"] = "Listado de Instituciones";
}

<h2>Listado de Instituciones Públicas de la República Dominicana</h2>

<p>
    <a asp-controller="Instituciones" asp-action="Create">Crear Nueva Institución</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Sigla</th>
            <th>Ubicación</th>
            <th>Latitud Mín.</th>
            <th>Latitud Máx.</th>
            <th>Longitud Mín.</th>
            <th>Longitud Máx.</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var institucion in Model)
        {
            <tr>
                <td>@institucion.Id</td>
                <td>@institucion.Nombre</td>
                <td>@institucion.Sigla</td>
                <td>@institucion.Ubicacion</td>
                <td>@institucion.Lat_Min</td>
                <td>@institucion.Lat_Max</td>
                <td>@institucion.Lon_Min</td>
                <td>@institucion.Lon_Max</td>
                <td>
                    <a asp-controller="Instituciones" asp-action="Details" asp-route-id="@institucion.Id">Detalles</a> |
                    <a asp-controller="Instituciones" asp-action="Edit" asp-route-id="@institucion.Id">Editar</a> |
                    <a asp-controller="Instituciones" asp-action="Delete" asp-route-id="@institucion.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
